<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Exam</title>
</head>
<body>
    <div>
        <form action="" method="get">
            <h3>{{question.question}}</h3>
            <label for="A">A: {{question.A}}</label>
            <input type="radio" name="A" value="A">
            <label for="B">B: {{question.B}}</label>
            <input type="radio" name="B" value="A">
            <label for="C">C: {{question.C}}</label>
            <input type="radio" name="C" value="C">
            <label for="D">D: {{question.D}}</label>
            <input type="radio" name="D" value="D">
        </form>
    </div>
</body>
</html>