<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Exam</title>
</head>
<body>
    <div>
        <form action="" method="get">
            <h3>{{question.question}}</h3>
            <p for="A">A: {{question.A}}</p>
            <p for="B">B: {{question.B}}</p>
            <p for="C">C: {{question.C}}</p>
            <p for="D">D: {{question.D}}</p>
            <select name="" id="">
                <option value=""></option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </form>
    </div>
</body>
</html>